<br>
<app-link1></app-link1>
<app-link2></app-link2>
<app-link3></app-link3>
<div class="center">
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="First Name" value="Sushi">
  </mat-form-field>
  

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Last Name" value="Khan"> 
  </mat-form-field><br>
  <mat-form-field>
    <span>Date Of Birth</span>
    <input matInput [matDatepicker]="picker" placeholder="">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field><br>

  <span>EDUCATION QULAIFICATION : </span> 
 
  <mat-checkbox>SSLC</mat-checkbox>&nbsp;
  <mat-checkbox>HSC</mat-checkbox>&nbsp;
  <mat-checkbox>UG</mat-checkbox>&nbsp;<br>
  <br>

  <span>GENDER  : </span> 
  <mat-radio-group>
      <mat-radio-button value="1" checked>Male</mat-radio-button>&nbsp;
      <mat-radio-button value="2">Female</mat-radio-button>
    </mat-radio-group>
    

</form>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>Legacy form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Standard form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="fill">
    <mat-label>Fill form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>
<mat-toolbar>  
  <mat-toolbar-row>
    <span>First Row</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Second Row</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="primary">
  <span>Application Title</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>Right Aligned Text</span>
</mat-toolbar></div>



<!--<p>
  body works!
  
    
</p>
<div class="example-container">
  <mat-form-field>
   <label>FIRST NAME : </label>   <input matInput placeholder="YOUR FIRST NAME" name="name">
  </mat-form-field>
  <mat-form-field>
    <label>LAST NAME : </label>   <input matInput placeholder="YOUR FIRST NAME">
   </mat-form-field>
  
   <mat-form-field>
    <input matInput [matDatepicker]="picker" name="dateoFbIRTH" id="dateoFbIRTH" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

 

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  
<mat-checkbox>Check me!</mat-checkbox>
<mat-slider></mat-slider>
  </div>
  <button type="button" class="btn btn-large btn-block btn-danger">button</button>

<br>

  -->


