{{user | json}}
<div aria-colspan="2">
    <form #form="ngForm">
        FirstName:<input type="text" name="firstName" [(ngModel)]="user.firstName" required>
        LastName:<input type="text" name="laststName" [(ngModel)]="user.laststName"><br>
        street1:<input type="text" name="street1" [(ngModel)]="user.address.street1">
        street2:<input type="text" name="street2" [(ngModel)]="user.address.street2">
        street3:<input type="text" name="street3" [(ngModel)]="user.address.street3"><br>
        <table>
            <tr *ngFor="let phone of user.phone" >
                <td>
                    country:<input type="text" name="country" [(ngModel)]="user.phone.country">
                </td>
                <td>
                    number:<input type="text" name="number" [(ngModel)]="user.phone.number">
                </td>
                <td>
                    type:<input type="text" name="type" [(ngModel)]="user.phone.type">
                </td>
            </tr>
        </table>
        <input *ngIf="user.phone.length < 5"  type="button" name="addphone" value="add" (click)="addPhone(1)">
        <br>
        <input type="button" [disabled]="form.invalid" name="Submit" value="Submit">
        {{form.valid}}
        {{form.invalid}}
    </form>


</div>

<div>

</div>